{% extends "layout.html" %}

{% block content %}

<main class="cv">
  <header>
    <h1> CV </h1>
  </header>
  <figure>
    <img src="/static/content/face.jpg" alt=""/>
  </figure>
  <div role="presentation">
    <section>
        <header>
          <h2>Bio</h2>
        </header>
        <ul role="group">
            <li>Adam Pegman</li>
            <li>Age: {{age}}</li>
            <li>Greystones,<br> Co. Wicklow, Ireland</li>
        </ul>
      </section>
      <section>
          <header>
            <h2>Profile</h2>
          </header>
          <ul role="group">
              <li>Currently studying 3rd year Computer Applications at DCU.</li>
              <li>Currently learning Docker, NodeJS and Seneca for my third year project. </li>
          </ul>
      </section>
    </div>
    <div role="presentation">
      <section>
          <header><h2>Skills</h2></header>
          <ul role="group"  >
              <li> Programming </li>
              <li> Linux	</li>
              <li> Networking </li>
              <li> Web Design	</li>
          </ul>
          <header><h2>Certs</h2></header>
          <ul role="group">
              <li> JNCIA-Junos </li>
              <li> ECDL </li>
          </ul>
      </section>
      <section>
          <header><h2>Programming Languages</h2></header>
          <ul role="group">
              <li>
                  <h3>Python:</h3>
                  <ul>
                      <li> Flask </li>
                      <li> SQLAlchemy </li>
                  </ul>
              </li>
              <li> Java	</li>
              <li> C/C++	</li>
              <li> Shell </li>
              <li>
                  <h3>Javascript:</h3>
                  <ul>
                      <li> JQueryUI </li>
                      <li> BootStrap </li>
                  </ul>
              </li>
              <li> Prolog </li>
              <li> R </li>
          </ul>
      </section>
    </div>
    <section>
      <header>
        <h2> Education </h2>
      </header>
      <table>

          <thead>
            <tr>
                <th scope="col"> Date </th>
                <th scope="col"> School </th>
                <th scope="col"> Course </th>
                <th scope="col">     </th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td>2014 - Current</td>
                  <td>DCU</td>
                  <td>Computer Applications</td>
                  <td></td>
              </tr>
              <tr>
                  <td>2008 - 2014</td>
                  <td>St David's</td>
                  <td>Leaving Cert</td>
                  <td>470 Points</td>
              </tr>
          </tbody>
      </table>
    </section>
</main>

{% endblock %}
