{% extends "layout.html" %}

{% block content %}

<figure class="row">
    <div class="col-md-4 vcenter">
        <img role="presentation" class="img-rounded img-responsive embed-responsive-16by9" src="/static/content/face.jpg">
    </div>
    <!--
    -->
    <figcaption id="introduction" class="col-md-6 vcenter">
        <h2>Hi!</h2>
        <p>
            I'm Adam Pegman, a {{ age }} year old computing student from Co. Wicklow, Ireland. <br>
            This is my portfolio site where I will hopefully be posting some projects.
        </p>
    </figcaption>
</figure>

{% endblock %}
