<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/static/css/site.scss.css" />
      <title>{{ title }} - Pegman.Space</title>
  </head>
  <body>
      <nav role="navigation">
              <a href="{{ url_for('home') }}">Home</a>
              <a href="{{ url_for('cv') }}">CV</a>
              <a href="{{ url_for('projects') }}">Projects</a>
              <a href="{{url_for('ip')}}">What's my IP?</a>
              <a href="{{url_for('dcu_rooms')}}">Lab Checker</a>
      </nav>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul role="region" aria-label="Messages" class="flashed_messages" data-quantity="{{ messages.__len__() }}">
              {% for message in messages %}
              <li role="alert">{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}
      {% block content %}
          Content goes here.
      {% endblock %}
      <hr />
      <footer role="contentinfo">
          <p>
              <abbr title="Copyright:">&#x00A9;</abbr>Adam Pegman&nbsp;{{ year }}&nbsp;|
              <a href="mailto:adam@Pegman.Space"><abbr title="Email:">&#x2709;</abbr>&nbsp;Adam@Pegman.Space</a>
          </p>
      </footer>
      <script src="/static/scripts/jquery-1.10.2.js"></script>
      <script src="/static/scripts/respond.js"></script>
      {% block scripts %}{% endblock %}
  </body>
</html>
