{% extends "layout.html" %}

{% block content %}
<main class="article_page">
  <article>
    <header>
        <h1>{{proj.name}}</h1>
    </header>
    {{proj.html|safe}}
    <footer>
        <span>
          <abbr title="Post Time: ">&#x23F2;</abbr>
          <time>{{proj.publish_date}}</time>
        </span>
        |
        <a href="{{url_for('project', slug=proj.id)}}">
            <abbr title="Link: ">&#x1f517; </abbr>
            http://Pegman.Space{{url_for('project', slug=proj.id)}}
        </a>
    </footer>
  </article>
</main>
{% endblock %}
