//@import "../bower_components/skeleton/css/normalize";
//@import "../bower_components/skeleton/css/skeleton";
@import "../bower_components/susy/sass/susy";
@import "https://fonts.googleapis.com/css?family=Droid+Sans";
@import "https://fonts.googleapis.com/css?family=Alike+Angular";

$color-success: rgba(16, 255, 16, 0.3); /* transparent green */
$color-warn:  rgba(252, 248, 227, 0.3); /*transparent orange */
$color-fail: rgba(255, 16, 16, 0.3); /* transparent red */
$color-null: rgba(0, 0, 0, 0.3); /* transparent grey */

@mixin table-center(){
  display: table;
  margin: auto auto;
}

@mixin responsive-img(){
  width: 100%;
  height: auto;
  margin: auto auto;
  border-radius: 3px;
}

@mixin reverse-layout(){
  transform: rotate(180deg);
  &>* {
    transform: rotate(180deg);
  }
}

@mixin vcenter(){
      display: inline-block;
      vertical-align: middle;
      float: none;
}

body, html {
    min-height: 100%;
    margin: 0 0;
    padding: 0 0;
    font-variant-ligatures: common-ligatures contextual;
    font-family: 'Droid Sans', sans-serif;
    @include susy-media(900px, 99999px){font-family: 'Alike Angular', serif, sans-serif;}
}

body {
    padding: 0 0;
}

li[role=alert] {
  background: $color-warn;
  list-style:none;
}

hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.10);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: auto 5%;
  a{
    display: inline-block;
  }
}


.homepage {
  //css for homepage
  //full width+height
  @include container();
  @include table-center();
  min-height: 80%;
  img {
    @include responsive-img();
    max-height: 480px;
    max-width: 480px;
  }
  //50% Grid layout for desktop
  @include susy-media(900px 9999px){
    figure{
      @include span(isolate 32 of 64 at 0 last no-gutters);
    }
    header {
      @include span(isolate 32 of 64 at 33 no-gutters);
      transform: translateY(100%);
    }
  }
  //mobile layout
  //everything full width, reverse order.
  @include susy-media(0px 899px) {
    @include reverse_layout();
  }
}

.flexbox-homepage {
  //css for homepage using display: flex
  display: flex;
  flex-basis: 100%;
  flex-flow: row-reverse;
  justify-content: center;
  @include susy-media(0em 40em) {
    flex-wrap: wrap-reverse;
    justify-content: center;
    flex-basis: 50%;
  }
  figure>img {
    @include responsive-img();
    max-height: 80vw;
  }
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.cv {
  @include container();
  header{
    width: 100%;
    text-align: center;
    size: 2.5em;
  }
  li{
    margin-left: none;
    list-style: none;
    &+* {
      margin-top: 1em;
    }
  }
  table{
    border-collapse: collapse;
    text-align: justify;
    min-width: 250px;
  }
  thead{
    border-bottom: 1px solid grey;
  }
  @include susy-media(900px){
    section{
      margin-top: 10%;
    }
    &>figure{
      @include span( 1 of 2 at 1 no-gutters first);
    }
    &>div:nth-of-type(1){
      @include span( 1 of 2 at 2 no-gutters last);
      &>section{
        width:100%;
      }
    }
    &>div:nth-of-type(2){
      @include container();
      &>*{
        @include gallery(2, of-type);
      }
    }
    &>*:last-child{
      clear: both;
      margin-top: 5%;
      transform: translateY(-50%);
      table{
        width: 100%;
        @include table-center;
        min-width: 200px;
      }
    }
  }
}

.project_list{
  @include container();
  @include table-center();
  width: 80%;
  header{
    width: 100%;
    text-align: center;
  }
  &>* {
    @include gallery(1 of 2, of-type);
  }
}

.dcu_rooms {
  text-align: center;
  #Labs{
    @include container();
    &>*{
      @include susy-media(1248px){
        @include gallery(1 of 4 no-gutters, child);
      }
      @include susy-media(800px 1248px){
        @include gallery(1 of 3 no-gutters, child);
      }
      @include susy-media(600px 800px){
        @include gallery(1 of 2 no-gutters, child);
      }
      @include susy-media(0px 600px){
        &>*{width: 100%;};
      }
      padding: 5px;
      margin: 5px;
      border-radius: 5px;
      &[data-status="Closed"]{
        background: $color-null;
      }
      &[data-status="Free"]{
        background: $color-success;
      }
      &[data-status="Booked"]{
        background: $color-warn;
      }
    }
  }
}
